body
h5 {
  color: #FBD784;
  font-family:Gilroy;
}

h6 {
  color: #FBD784;
  font-family:Gilroy;
}

h1 {
  color: White;
  font-family:Chronicle Display;
}

p {
  color: White;
  font-family: Gilroy;
}

h6 {
  text-align: center 
}
